
@{
    ViewBag.Title = "Talon ominaisuudet";
}
<p>&nbsp;</p>
<h2>Talon ominaisuudet</h2>
<div id="OminaisuudetList">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    setInterval(function () {
        $(document).ready(function () {
            $.ajax({
                url: '/Ominaisuudet/GetOminaisuudet',
                datatype: "json",
                type: "post",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $("#OminaisuudetList").html(data);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    }, 1000);
</script>  