@model AlytaloMVC.Models.OminaisuusViewModel



<div class="row">
    @{ string tilanne = "";}
    @foreach (var sauna in Model.Saunat)
    {
        int x = sauna.SaunaId - 999;
        if (sauna.Kaynnissa.Value) { tilanne = "Sauna on päällä!"; } else { tilanne = "Sauna on pois päältä"; };

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sauna @x</h4>
                    <p class="card-text" id="saunanTilsu">@tilanne</p>
                    <p class="card-text">Lämpötila: @sauna.Lampo</p>
                    <a href="#" class="card-link">Säädä</a>
                    <a href="#" class="card-link">@Html.ActionLink("Poista", "PoistaOminaisuus", new { id = sauna.OminaisuusId })</a>
                </div>
            </div>
        </div>
    }
</div>