@model AlytaloMVC.Models.OminaisuusViewModel
<div class="row">
    @{ string tilanne = "";}
    @foreach (var valot in Model.Valot)
    {
        int x = valot.ValotId - 999;
        if (valot.Kaynnissa.Value) { tilanne = "Valo on päällä!"; } else { tilanne = "Valo on pois päältä"; };

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Valo @x</h4>
                    <p class="card-text">Teho: @valot.Teho</p>
                    <p class="card-text"> @tilanne</p>
                    <a href="#" class="card-link">Säädä</a>
                    <a href="#" class="card-link">@Html.ActionLink("Poista", "PoistaOminaisuus", new { id = valot.OminaisuusId })</a>
                </div>
            </div>
        </div>
    }
</div>

