@{
    ViewBag.Title = "Home Page";
}
<p>&nbsp;</p>
<div class="jumbotron">
    <h1>Älytalosovellus</h1>
    <p class="lead">Tämä on älytalosovellus. Alla olevasta napista voit luoda taloosi ominaisuuksia, joita voit hallita ominaisuudet-välilehdellä. Applikaation toteutuksessa on hyödynnetty Bootswatchin Superhero-teemaa ja Bootstrap-tekniikalla on pyritty tekemään sivustosta responsiiviset</p>
    <p>&nbsp;</p>
    <p><a href="/Home/LuoOminaisuus" class="btn btn-primary btn-lg">Luo ominaisuus &raquo;</a></p>
</div>
<h2 style="margin-bottom:20px;">Talon ominaisuudet</h2>
<div class="row">
    <div class="col-md-3">
        <h4>Valot</h4>
        <p>
            Älytalosovelluksella voit säätää valojen tehoa ja näet ovatko valot päällä vai pois päältä.
        </p>
    </div>
    <div class="col-md-3">
        <h4>Lämpötila</h4>
        <p>Talon lämpötilaa säädetään termostaatteilla, joihin voi asettaa tavoitelämpotilat. Termostaattien tiedoista selviää selviää myös niiden nykyinen lämpötila.</p>
    </div>
    <div class="col-md-3">
        <h4>Sauna</h4>
        <p>Sovelluksessa voi asettaa saunan päälle ja tarkastaa saunan sen hetkisen lämpötilan.</p>
    </div>
    <div class="col-md-3">
        <h4>Tapahtumat</h4>
        <p>Tapahtumat-välilehdeltä näet talon ominaisuuksissa tapahtuneet muutokset.</p>
    </div>
</div>