
@{
    ViewBag.Title = "Luo talo";
}


@section scripts {
    <script src="~/Scripts/Application/LuoTaloFunction.js"></script>
    
    <script>
        $(function () {
            initLuoTalo();
        })
    </script>

}

<p>&nbsp;</p>
<div class="jumbotron">
    <h3>Luo talo</h3>
    <p class="lead">Anna talollesi nimi ja osoite.</p>
    <p>
        <input id="inputNimi" type="Text" placeholder="Nimi" />
    </p>
    <p>
        <input id="inputOsoite" type="Text" placeholder="Osoite" />
    </p>
    <p style="margin-top:25px;"><a href="/Home/Luotalo" id="BtnLuoTalo" class="btn btn-primary btn-lg">Tallenna &raquo;</a></p>
</div>
